<div data-role="view" id="add-place-view" data-id="add-place-view"
    data-layout="main-layout" data-title="Add Expense"
    data-show="app.viewModels.addExpense.init">
    <div data-role="scroller">
        <div id="add-place-container">
            <label for="add-expense-title">Name</label>
            <input type="text" id="add-expense-title" data-bind="value: expense.name" /><br/>
            <label for="add-place-price">Price</label>
            <input type="text" id="add-expense-title" data-bind="value: expense.price" /><br/>
            <label for="add-place-title">Category</label>
            <input type="text" id="add-expense-title" data-bind="value: expense.categoryName" /><br/>
            <label>Picture</label>
            <img data-bind="attr: { src: expense.pictureUrl }" id="add-expense-picture" /><br/>
            <button data-role="button" data-bind="events: { click: takePicture }"
                id="add-expense-button-picture">Take Picture</button>
            <button data-role="button" data-bind="events: { click: addExpense }"
                id="add-expense-button-add">Add Expense</button>
        </div>
    </div>
</div>