<div data-role="view" id="add-place-view" data-id="add-place-view"
    data-layout="main-layout" data-title="Add Expense"
    data-show="app.viewModels.addFunds.init">
    <div data-role="scroller">
        <div id="add-expense-container">
            <span data-bind="value: fund.balance"></span>
            <label for="add-expense-title">Amount</label>
            <input type="text" id="add-expense-amount" data-bind="value: fund.amount" /><br/>
            <button data-role="button" data-bind="events: { click: addFunds }"
                id="add-expense-button-add">Add funds</button>
        </div>
    </div>
</div>