<div data-role="view" id="place-details-view" data-id="place-details-view"
    data-layout="main-layout" data-title="Expense Details"
    data-show="app.viewModels.singleExpense.init">
    <div data-role="scroller">
        <div id="place-details-container">
            <h2 id="expense-details-product">Product</h2>
            <p data-bind="text: expense.name" id="place-details-title"></p>
            <h2 id="expense-details-price">Price</h2>
            <p data-bind="text: expense.price"></p>
            <h2 id="place-details-picture-header">Bill picture</h2>
            <a data-bind="attr: { href: expense.pictureUrl }">
            <img data-bind="attr: { src: expense.pictureUrl }" id="place-details-picture" />
                
            </a>
            <h2 id="place-details-address-header">Address</h2>
            <p data-bind="text: expense.address" id="place-details-address"></p>
            <a data-bind="attr: { href: expense.mapAddress }"
               id="place-details-view-on-map">View on map</a>
        </div>
    </div>
</div>